/* empty */ 
/* Ads */
.hugsyp-container img {
  display: block;
  margin: auto;
}
/*Common*/
.no-results > .title span {
  background: none;
}
.container,
.content-wrap {
  max-width: 100% !important;
}
.single-featured img {
  width: 100%;
}
.next-prev-post .pre-title {
  color: #ff5f50;
}
.better-direction-nav .better-next:hover,
.better-direction-nav
  .better-next:active
  .better-direction-nav
  .better-prev:hover,
.better-direction-nav .better-prev:active {
  border-color: #f94757;
  background: #f94757;
}
.better-direction-nav .better-next,
.better-direction-nav .better-prev {
  border: 2px solid #fff;
  color: #fff;
}
.entry-content.single-post-content a:hover,
.single-page-simple-content .entry-content a:hover {
  text-decoration: none;
}
.entry-content .wp-block-separator {
  display: none;
}
.back-top {
  border-radius: 50% !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.38);
  background: linear-gradient(75deg, #f94757, #f50973) !important;
  opacity: 1 !important;
}
.back-top:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.38);
}
.format-icon {
  border: none;
  background: none;
}
.listing-item-blog .featured:hover .format-icon i {
  color: #f5445a;
}

.term-badges.floated a {
  margin: 0 6px 6px 0px;
}
.term-badges.floated {
  top: 8px;
  left: 8px;
}
.post-count-badge.pcb-t1 {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.listing-item-tb-1.has-post-thumbnail .post-count-badge.pcb-t1.pcb-s1 {
  top: -0.5rem;
  left: -0.5rem;
}
.section-heading.sh-t5 > .main-link > .h-text:before,
.section-heading.sh-t5 > a:first-child:last-child > .h-text:before,
.section-heading.sh-t5 > .h-text:first-child:last-child:before {
  background: linear-gradient(75deg, #f94757, #f50973);
  border-radius: 2rem;
}
.section-heading.sh-t5:before {
  border-radius: 2rem;
}
.listing-item-tb-2 .term-badges.floated {
  left: 8px;
}
.listing-item-tb-2 .term-badges.floated .term-badge:nth-child(2) {
  display: none;
}

.listing-mg-3-item .term-badges.floated .term-badge a {
  margin: 0 4px 4px 0px;
}
.single-container > .post-author {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.single-container > .post-author .post-author-avatar img {
  border-radius: 50%;
}
body.bs-theme .btn-bs-pagination {
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 1 !important;
  color: #fff !important;
  border: 1px solid #f94757;
  border-radius: 16px;
  background: #f94757;
}
.bs-irp .bs-irp-heading {
  padding-top: 5px;
  padding-left: 15px;
}
.bs-irp .bs-irp-heading:before {
  background: rgb(254, 95, 80);
  width: 3px;
  height: 32px;
}
.listing-item-blog-1 .featured {
  margin-right: 2rem;
}
.listing-item-blog-1 .featured .img-holder.b-error,
.listing-item-blog-1 .featured .img-holder.b-loaded,
.listing-item-blog-5 .featured .img-holder.b-error,
.listing-item-blog-5 .featured .img-holder.b-loaded,
.listing-item-tb-1 .img-holder.b-error,
.listing-item-tb-1 .img-holder.b-loaded,
.listing-item-tb-2 .img-holder.b-error,
.listing-item-tb-2 .img-holder.b-loaded,
.listing-item-tb-3 .img-holder.b-error,
.listing-item-tb-3 .img-holder.b-loaded,
.listing.listing-mix-3-4 .listing-mg-3-item {
  border-radius: 0.5rem;
}
.listing-mg-3-item .content-container,
.listing-mg-3-item .title {
  font-size: 16px !important;
}
.listing-item-grid-1 .featured .img-holder {
  border-radius: 0.5rem;
}
.listing-item-user.type-2 .bs-user-item {
  border-radius: 0.5rem;
  /*box-shadow: -2px -2px 8px 0 rgba(255,255,255,.1), 2px 2px 8px 0 rgba(0,0,0,.1);*/
}
.listing-item-user.type-2 .btn-light {
  border: 1px solid #f94757;
  color: #f94757 !important;
  box-shadow: none;
  font-family: "Quicksand";
  font-weight: 500;
  margin-right: 0;
  padding: 0.75rem 1.25rem;
  line-height: 1;
  border-radius: 2rem !important;
  font-size: 10px;
}

.listing-item-user .btn-light.btn-light:focus,
.listing-item-user .btn-light.btn-light:hover {
  background: linear-gradient(75deg, #f94757, #f50973) !important;
  color: #fff !important;
  border-color: transparent !important;
}
.wrapper-sticky {
  /*box-shadow: 0px 10px 12px 0 rgba(0, 0, 0, 0.2);*/
}

/* Image Popup */
div.pp_default .pp_content_container {
  background: none;
}
.pp_pic_holder.pp_default {
  box-shadow: none;
}
div.pp_default .pp_close,
div.pp_default .pp_contract,
div.pp_default .pp_expand {
  background: none;
  color: #fff;
  font-size: 20px;
  border: none;
  opacity: 1;
}

/* End Common */
 
/* Icon */
i.icon {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: #eee;
}
i.icon.icon-newsfeed {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-gradient.svg) no-repeat;
    background-size: cover; 
}
i.icon.icon-camera {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-watch {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-trending {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-trending-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-intro {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-intro-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-job {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-job.svg) no-repeat;
    background-size: cover; 
}
i.icon.icon-mail {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-mail.svg) no-repeat;
    background-size: cover; 
}

/* Icon Menu Bottom Responsive */
.menu-bottom-responsive i.icon.icon-newsfeed {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-dark.svg) no-repeat;
    background-size: cover; 
    opacity: 0.54;
}
.theme-dark .menu-bottom-responsive i.icon.icon-newsfeed {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-white.svg) no-repeat;
    background-size: cover; 
    opacity: 0.72;
}
.menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-newsfeed,
.menu-bottom-responsive ul.menu li:hover i.icon.icon-newsfeed,
.menu-bottom-responsive ul.menu li:focus i.icon.icon-newsfeed,
.theme-dark .menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-newsfeed {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-gradient.svg) no-repeat;
    background-size: cover; 
    opacity: 1;
}
.menu-bottom-responsive i.icon.icon-camera {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-dark.svg) no-repeat;
    background-size: cover;
    opacity: 0.54;
}
.theme-dark .menu-bottom-responsive i.icon.icon-camera {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-white.svg) no-repeat;
    background-size: cover;
    opacity: 0.72;
}
.menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-camera,
.menu-bottom-responsive ul.menu li:hover i.icon.icon-camera,
.menu-bottom-responsive ul.menu li:focus i.icon.icon-camera,
.theme-dark .menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-camera {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-gradient.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}
.menu-bottom-responsive i.icon.icon-watch {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-dark.svg) no-repeat;
    background-size: cover;
    opacity: 0.54;
}
.theme-dark .menu-bottom-responsive i.icon.icon-watch {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-white.svg) no-repeat;
    background-size: cover;
    opacity: 0.72;
}
.menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-watch,
.menu-bottom-responsive ul.menu li:hover i.icon.icon-watch,
.menu-bottom-responsive ul.menu li:focus i.icon.icon-watch,
.theme-dark .menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-watch {
    background: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-gradient.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}

 
/* Story */
/*
#stories::-webkit-scrollbar-track
{
	background-color: rgba(0, 0, 0, 0.14);
	border-radius: 2rem;
	height: 4px;
}
#stories::-webkit-scrollbar
{   
    height : 4px;
    width: 4px;
    border-radius: 2rem;
    
}
#stories::-webkit-scrollbar-thumb
{
	border-radius: 2rem;
    background : linear-gradient(75deg,#f94757,#f50973);
	width: 20px;
}
*/
.stories.carousel .story {
  background: radial-gradient(ellipse at 70% 70%, #f50973 42%, #f94757 58%);
  border-radius: 1.5rem;
  padding: 2px;
  margin: 0 1.2%;
  width: 18%;
  max-width: 20%;
  max-height: 22rem;
  height: 22rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background: none;
  padding: 0;
}
.stories.snapgram .story > .item-link > .item-preview {
  background: none;
  width: 100%;
  max-height: 22rem;
  height: 22rem;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 0;
}

.stories.carousel .story > .item-link > .info .name {
  font-weight: 500;
}
.stories.carousel {
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 1.5rem;
  margin: 0 auto 0 auto;
}
.stories.snapgram .story > .item-link {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1.3rem;
  border: 3px solid #f1f1f1;
  font-family: "Quicksand";
  border: none;
}
.stories.carousel .story > .item-link:active > .item-preview,
.stories.carousel .story > .item-link:hover > .item-preview {
  transform: scale(1.1);
}
.stories.carousel .story > .item-link > .item-preview img {
  border-radius: 0;
  border: none;
}
.stories.carousel .story > .item-link > .info {
  position: absolute;
  z-index: 2;
  bottom: 0;
  color: #fff;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.87) 0%, transparent 50%);
  transition: 0.4s;
  border-radius: 0;
}
.stories.carousel .story > .item-link:hover > .info {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.87) 0%, transparent 100%);
}
.stories.carousel .story > .item-link > .info .name {
  display: inline-block;
  width: 100%;
  line-height: 1.8rem;
  height: 3.6rem;
  bottom: 1.25rem;
  left: 0;
  position: absolute;
  padding: 0 1.2rem;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#zuck-modal-content .story-viewer .head .left .info {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  max-height: 4rem;
}
#zuck-modal-content .story-viewer .tip {
  text-transform: none;
  border-radius: 0;
  background: none;
}
/* End Story */

/* SearchForm */
.search-header {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.search-header .search-form {
  display: none;
}
.search-preview {
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}
.site-header.header-style-8 .main-menu-container .search-container {
  line-height: 66px;
  right: 0;
  left: auto;
}

.site-header .off-canvas-menu-icon-container + .search-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
}

.site-header .search-container .search-box {
  display: block;
  padding-right: 5rem;
}
.site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field,
.off-canvas-search input[type="text"] {
  padding: 0.4rem 2.4rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.05);
  margin: 1rem 0;
  border-radius: 2rem;
  border: none;
}

.site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field:focus,
.off-canvas-search input[type="text"]:focus {
  background: rgba(0, 0, 0, 0.08);
}
.site-header .search-container .search-box .search-form input[type="submit"],
.search-form input[type="submit"],
.off-canvas-search .fa {
  display: block;
  position: absolute;
  right: 6.5rem;
  padding: 0;
  top: 2rem;
  max-width: 1.8rem;
  width: 1.8rem;
  height: 2rem;
  border-radius: 50%;
  color: #fff0;
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-search-dark.svg);
  background-color: unset !important;
  background-repeat: no-repeat;
  opacity: 0.54;
  background-size: contain;
}
.off-canvas-search .fa {
  right: 1.5rem;
  top: 3rem;
}
.off-canvas-search .fa:before {
  display: none;
}
.site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field::placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}
.site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  line-height: 3.5rem;
}
.site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}
.site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
}
.site-header
  .search-container
  .search-box
  .search-form
  input[type="submit"]:hover,
.site-header
  .search-container
  .search-box
  .search-form
  input[type="submit"]:focus,
.site-header
  .search-container
  .search-box
  .search-form
  input[type="submit"]:active,
.off-canvas-search .fa:hover,
.off-canvas-search .fa:active,
.off-canvas-search .fa:focus {
  opacity: 1;
}
.site-header.header-style-8 .search-container:focus-within .search-preview {
  display: block;
}
.site-header.header-style-8
  .search-preview
  .ajax-search-no-product
  .ajax-ajax-posts-list {
  width: 100%;
}

.site-header.header-style-8 .search-preview .ajax-taxonomy-list {
  display: none;
}

.site-header.header-style-8 .search-container .search-handler {
  display: none;
}

.ajax-search-results .clean-button {
  display: block;
  max-width: 100% !important;
  padding: 1.2rem 1.6rem !important;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  color: #fff !important;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(75deg, #f94757, #f50973);
  margin: auto;
  text-align: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.ajax-search-results .clean-button:hover {
  background: linear-gradient(75deg, #f50973, #f94757);
}
.ep-autosuggest-container .ep-autosuggest > ul {
  padding: 0.5rem 0 0.5rem 0;
}
.ep-autosuggest-container .ep-autosuggest > ul > li > span {
  font-family: "Quicksand";
  text-align: left;
  line-height: 2;
  color: rgba(0, 0, 0, 0.72);
  padding: 0.5rem 1.5rem 0.5rem 4.5rem;
  font-size: 1.4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ep-autosuggest-container .ep-autosuggest {
  border: none;
  border-top: 3px solid #f94757;
  border-radius: 0 0 0.5rem 0.5rem;
  top: 57px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.ep-autosuggest-container .ep-autosuggest > ul > li:before {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(//localhost/wp-content/themes/publisher-child/images/icon-search-dark.svg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 1.25rem;
  margin-top: -0.8rem;
  transition: ease-in 0.2s;
}
.ep-autosuggest-container .ep-autosuggest > ul > li {
  position: relative;
}
.ep-autosuggest-container .ep-autosuggest > ul > li:hover span,
.ep-autosuggest-container .ep-autosuggest > ul > li:focus span,
.ep-autosuggest-container .ep-autosuggest > ul > li:active span {
  color: #f94757;
  background: none;
}
.listing-item-tb-1 .img-holder {
  border-radius: 4px;
  /*box-shadow: -2px -2px 4px 0px rgba(255,255,255,0.2), 2px 2px 4px 0px rgba(0,0,0,0.2);*/
}
.off-canvas-inner {
  height: 100%;
}
.off-canvas-inner > .off_canvas_footer {
  display: none;
}
.off-canvas-inner > .copry-right {
  padding: 1rem 2rem;
  position: absolute;
  bottom: 40px;
  left: 0;
  color: rgba(0, 0, 0, 0.54);
}
.off-canvas-menu-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.off-canvas-menu-icon:hover,
.off-canvas-menu-icon:focus,
.off-canvas-menu-icon:active {
  background: rgba(0, 0, 0, 0.05);
}
.off-canvas-menu-icon .off-canvas-menu-icon-el {
  margin-top: 1.9rem;
  width: 2rem;
}
.site-header .off-canvas-menu-icon .off-canvas-menu-icon-el,
.site-header .off-canvas-menu-icon .off-canvas-menu-icon-el:after,
.site-header .off-canvas-menu-icon .off-canvas-menu-icon-el:before {
  background-color: rgba(0, 0, 0, 0.6);
}

/*Header*/
.site-header.header-style-8.full-width {
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.38);
  z-index: 1100;
}
.better-newsticker .control-nav span {
  background: none;
  border-radius: 50%;
  line-height: 1;
  /*color: #fff;
    border-color: rgba(255,255,255,0.38);*/
}
.better-newsticker .control-nav span .fa {
  font-weight: bold;
}
.topbar .topbar-inner {
  padding: 0.8rem 0;
}
.topbar .topbar-sign-in .fa {
  float: right;
  margin-right: 0;
  margin-left: 8px;
  margin-top: 5px;
}
.site-header .bs-pinning-wrapper {
  height: 6rem !important;
}
.site-header.header-style-8 .site-branding .logo,
.site-header.header-style-8 .site-branding .logo img {
  max-height: 4rem;
  padding: 0;
}
.site-header.header-style-8 .site-branding .logo .site-logo-mobile {
  display: none;
}
.site-header.header-style-8 .site-branding .logo.img-logo a {
  line-height: 6rem;
  height: 6rem;
}
.site-header.header-style-8 .main-menu-container.menu-actions-btn-width-2 {
  padding-right: 0;
}
.site-header .menu-action-buttons.width-2 {
  width: 25%;
}
.site-header.header-style-8 .main-menu.menu {
  width: 75%;
  height: 6rem;
  display: flex;
  justify-content: center;
}
.site-header.header-style-8 .main-menu.menu > li {
  margin-right: 0;
  position: relative;
}
.site-header.site-header.site-header .main-menu.menu > li > a {
  font-size: 1rem;
  width: 12rem;
  text-align: center;
  padding-top: 1.5rem;
  font-weight: 600;
  line-height: 6rem;
  font-family: "Quicksand";
}
.site-header.site-header.site-header .main-menu.menu > li:hover > a {
  background: none !important;
  color: rgba(0, 0, 0, 0.54);
}
.site-header .main-menu.menu > li > a:before,
.site-header .main-menu.menu > li > a:after {
  content: "";
  display: block;
  top: 0.5rem !important;
  width: 3rem;
  height: 3rem !important;
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-dark.svg);
  background-color: unset !important;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.87;
  visibility: visible;
  left: 51%;
  opacity: 0.54;
  transition: 0.4s;
  position: absolute;
}
.site-header .main-menu.menu > li > a:after {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-gradient.svg);
  left: 39%;
  opacity: 0;
}
.site-header .main-menu.menu > li:nth-child(2) > a:before {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-dark.svg);
}
.site-header .main-menu.menu > li:nth-child(2) > a:after {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-gradient.svg);
}
.site-header .main-menu.menu > li:nth-child(3) > a:before {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-dark.svg);
}
.site-header .main-menu.menu > li:nth-child(3) > a:after {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-gradient.svg);
}
.site-header .main-menu.menu > li:hover > a:after,
.site-header .main-menu.menu > li.current-menu-item > a:after {
  opacity: 1;
}
.site-header .main-menu.menu > li:hover > a:before,
.site-header .main-menu.menu > li.current-menu-item > a:before {
  opacity: 0;
}
.site-header.site-header.site-header .main-menu.menu > li:after {
  position: absolute;
  content: "";
  width: 10%;
  left: 45%;
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(to right, #f94757, #f50973);
  transition: 0.2s;
  opacity: 0;
}
.site-header.site-header.site-header
  .main-menu.menu
  > li.current-menu-item:after,
.site-header.site-header.site-header .main-menu.menu > li:hover:after {
  width: 50%;
  height: 3px;
  bottom: -1px;
  left: 25%;
  opacity: 1;
}
.site-header.header-style-8 .menu-action-buttons > div {
  line-height: 6rem;
}
.site-header.header-style-8 .main-menu-container .search-container {
  line-height: 6rem;
}
.off-canvas-menu > ul > li > a {
  color: #444 !important;
}

/* Menu Top Bar */
.off-canvas-menu ul {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.off-canvas-menu ul.menu > li {
  border-radius: 0.5rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}
.dashboard ul.menu {
  display: grid;
  padding: 0;
}
.dashboard ul.menu > li {
  padding: 0 1rem;
  margin-bottom: 0;
  align-content: center;
  line-height: 1;
  border-radius: 0.5rem;
}
.off-canvas-menu ul.menu > li:hover,
.dashboard ul.menu > li:hover {
  background: rgba(0, 0, 0, 0.05);
}
.off-canvas-menu ul.menu > li > a,
.dashboard ul.menu > li > a {
  display: flex !important;
  align-items: center;
  line-height: 1;
  padding: 1rem 0 !important;
  border: none;
  font-size: 1.4rem;
  font-family: "Quicksand";
}
.off-canvas-menu ul.menu > li > a > .icon,
.dashboard ul.menu > li > a > .icon {
  margin-right: 2rem;
}

/* Menu Bottom Responsive */
.menu-bottom-responsive {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1100;
  transition: 0.4s;
  transform: translateY(100%);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.menu-bottom-responsive.has-show {
  transform: translateY(0);
}
.menu-bottom-responsive ul.menu {
  display: flex;
}
.menu-bottom-responsive ul.menu > li {
  width: 33.33%;
}
.menu-bottom-responsive ul.menu li > a {
  display: block;
  padding: 0.6rem 0.8rem 0.4rem 0.8rem;
  text-align: center;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 600;
  line-height: 1.6;
}
.menu-bottom-responsive ul.menu li > a:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 2px;
  left: 35%;
  top: -1px;
  border-radius: 0 0 1rem 1rem;
  background: linear-gradient(to right, #f94757, #f50973);
  transition: 0.2s;
  opacity: 0;
}
.menu-bottom-responsive ul.menu li.current-menu-item > a:before,
.menu-bottom-responsive ul.menu li:hover > a:before,
.menu-bottom-responsive ul.menu li:focus > a:before {
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.2s;
  opacity: 1;
}
.menu-bottom-responsive ul.menu li > a i {
  display: block;
  margin: auto;
  margin-bottom: 0.2rem;
  transition: 0.4s;
}

/*Sidebar*/
.sidebar-column {
  background: #fff;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.sidebar-column-secondary {
  border-right: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.sidebar-column-primary {
  border-left: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
ul#menu-menu-top-1 li.menu-item {
  margin-bottom: 2px;
}
.widget.widget_nav_menu ul.menu#menu-menu-top-1 li > a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #ececec00;
  border-radius: 4px;
  background-color: #00000000 !important;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.5em 0.8em;
}
.widget.widget_nav_menu ul.menu#menu-menu-top-1 li.current-menu-item > a,
.widget.widget_nav_menu ul.menu#menu-menu-top-1 li > a:hover {
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: rgba(0, 0, 0, 0.87) !important;
}

.widget.widget_nav_menu ul.menu#menu-menu-top-1 li a:before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 24px !important;
  background-image: url(//localhost/wp-content/uploads/2020/01/newsfeed-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  visibility: visible;
  margin-right: 0.8em;
  margin-left: 0;
  opacity: 0.87;
}

.widget.widget_nav_menu ul.menu#menu-menu-top-1 li:nth-child(2) a:before {
  background-image: url(//localhost/wp-content/uploads/2020/01/icon-camera-dark.svg);
}

.widget.widget_nav_menu ul.menu#menu-menu-top-1 li:nth-child(3) a:before {
  background-image: url(//localhost/wp-content/uploads/2020/01/icon-watch-dark.svg);
}

.widget.widget_tag_cloud .tagcloud a {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px !important;
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.87);
}

.sidebar .section-heading.sh-t5 > .main-link > .h-text,
.sidebar .section-heading.sh-t5 > .main-link > .h-text:hover,
.sidebar .section-heading.sh-t5 a.active,
.sidebar .section-heading.sh-t5 .main-link:first-child:last-child .h-text,
.section-heading.sh-t5 > .h-text {
  color: rgba(0, 0, 0, 0.87) !important;
  text-transform: none;
}

.widget.widget_search .search-form input[type="search"] {
  border-radius: 4px;
}

.widget.widget_search .search-form .search-submit {
  border-radius: 0 4px 4px 0;
}
.bs-pagination {
  text-align: center;
}
.bs-pagination.bs-ajax-pagination.infinity .btn-bs-pagination,
.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination,
.bs-pagination.bs-ajax-pagination.more_btn_infinity .btn-bs-pagination {
  display: inline-block;
  padding: 1.2rem 1.6rem !important;
  line-height: 1 !important;
  font-size: 1.2rem !important;
  font-weight: 500;
  line-height: 1;
  color: #fff !important;
  border: none;
  border-radius: 2rem;
  background: linear-gradient(75deg, #f94757, #f50973);
  margin: auto;
  text-align: center;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.bs-pagination.bs-ajax-pagination.more_btn .btn-bs-pagination:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(75deg, #f50973, #f94757);
}

/*Page*/
#content {
  background: #f1f1f1;
}
.main-section {
  margin-bottom: 0;
}
.main-section .content-column {
  padding: 3rem;
}
.main-section .col-sm-7.content-column {
  padding: 3rem;
}
.layout-1-col,
.layout-2-col,
.layout-3-col {
  margin: 0;
}
.slider-style-3-container {
  padding-top: 0;
  background: #fff;
}
.slider-container .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.slider-container .listing-item.listing-item-1 .title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.slider-container .listing-mg-2-item .content-container,
.slider-container .listing-mg-2-item .title {
  font-size: 2rem;
}
.slider-container .listing-mg-2-item.listing-item-1 .content-container {
  padding-bottom: 1.5rem;
}
.slider-container .post-meta,
.slider-container .post-meta a {
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.slider-container .post-meta .post-author-a .post-author {
  line-height: 1.6rem;
  font-size: 1.6rem;
  max-width: unset;
}
.post-meta .post-author {
  max-width: unset;
}
.slider-container .post-meta .post-author-a img {
  display: none;
}
.listing-grid .post-meta .share,
.listing-grid .post-meta .views {
  float: right;
}
.post-meta .post-author-a {
  display: inline-block;
}

.post-meta .post-author-a .author {
  line-height: 30px;
  font-weight: 600;
}

.post-meta .post-author-a img {
  border-radius: 50%;
  margin-right: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.main-section .col-sm-7.content-column .listing-blog-1 {
  max-width: 68rem;
  margin: auto;
}
.main-section .col-sm-7.content-column .listing-blog-1 .listing-item {
  background: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin-bottom: 2rem;
}
.listing-blog-1 .listing-item .post-meta .author {
  color: #666;
}
.bs-listing-slider-1 {
  border-radius: 0.5rem;
  overflow: hidden;
}
.bs-listing-slider-1 .post-meta .post-author-a img {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
.listing-mg-item .post-meta .views.views.views {
  background: none;
  line-height: 1;
  font-weight: 500;
  padding: 0;
  display: inline-flex;
}
.listing .post-meta .views .rank,
.listing .post-meta .share .rank {
  display: none;
}

/* End Page */

/*Author Page*/
.post-author .section-heading.sh-t5 > .h-text {
  font-size: 28px;
  color: #111;
}
.post-author .section-heading.sh-t5 > .h-text:first-child:last-child:before,
.post-author .section-heading.sh-t5:before {
  display: none;
}
.author-profile .author-title .title-counts {
  display: none;
}
.author-profile .author-links ul li {
  background: none;
}
.author-profile .author-links ul li.posts-count > span {
  border-radius: 2em;
  color: #fff;
  line-height: 25px;
  transition: 0.2s;
  background: linear-gradient(75deg, #f94757, #f50973);
  border: none;
}
.author-profile .author-links ul li.posts-count > span:hover,
.author-profile .author-links ul li.posts-count > span:focus,
.author-profile .author-links ul li.posts-count > span:active {
  background: linear-gradient(75deg, #f50973, #f94757);
}

/* Photo Page */
.better-slider .slides {
  border-radius: 0.5rem;
  overflow: hidden;
}
.better-control-nav li {
  margin: 1.5rem 0.5rem 0rem 0.5rem !important;
}
/* End Photo Page */

/* Video Page */
.main-section .col-sm-7.content-column .bs-listing-listing-mix-4-3 {
  max-width: 68rem;
  margin: auto;
}
.main-section .col-sm-7.content-column .listing-mix-4-3 .listing-classic-2 {
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.main-section
  .col-sm-7.content-column
  .listing-mix-4-3
  .listing-classic-2
  .featured {
  margin-bottom: 2rem;
}
.main-section .col-sm-7.content-column .listing-item-classic-2 .listing-inner {
  padding: 0 20px 20px 20px;
  padding-bottom: 0;
}
.main-section .col-sm-7.content-column .listing-item-classic-2 .title a {
  font-size: 20px;
  line-height: 1.5;
}
.main-section .col-sm-7.content-column .listing-item-classic-2 .title,
.main-section .col-sm-7.content-column .listing-item-classic-2 .post-meta {
  margin-left: 0;
  margin-right: 0;
}
.main-section .col-sm-7.content-column .listing-item-classic-2 .post-meta {
  margin-bottom: 2rem;
}
.main-section
  .col-sm-7.content-column
  .listing.columns-2
  .listing-item
  .item-inner {
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.main-section .col-sm-7.content-column .listing-item-grid-1 .featured {
  margin-bottom: 1.5rem;
}
.main-section .col-sm-7.content-column .listing-item-grid-1 .title,
.main-section .col-sm-7.content-column .listing-item-grid-1 .post-meta {
  padding-left: 2rem;
  padding-right: 2rem;
}

.main-section .col-sm-7.content-column .listing-item-grid-1 .post-meta {
  margin-bottom: 1.5rem;
}
.main-section
  .col-sm-7.content-column
  .listing.columns-2
  .listing-item:nth-child(odd),
.main-section
  .col-sm-7.content-column
  .mega-links.columns-2
  > .menu-item:nth-child(odd) {
  padding-right: 1rem;
}
.main-section
  .col-sm-7.content-column
  .listing.columns-2
  .listing-item:nth-child(even),
.main-section
  .col-sm-7.content-column
  .mega-links.columns-2
  > .menu-item:nth-child(even) {
  padding-left: 1rem;
}
.main-section
  .col-sm-7.content-column
  .listing-item-grid-1
  .featured
  .img-holder {
  border-radius: 0.5rem 0.5rem 0 0;
}
/* End Video Page */

/* Archive Page */
.archive-title {
  padding-bottom: 0;
}
.archive-title .pre-title {
  display: none;
}
.archive-title .rss-link {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  text-align: center;
  padding: 0.25rem 0;
  color: #f94757;
  transition: 0.4s;
}

.archive-title .rss-link:hover,
.archive-title .rss-link:active,
.archive-title .rss-link:focus {
  background: rgba(0, 0, 0, 0.05);
}
.archive-title .page-heading .h-title {
  color: #111;
}
/* Archive Page */

/* Error Page */
.img-error {
  max-width: 100%;
}
.no-results .img-error {
  max-width: 50%;
  margin-bottom: 1rem;
}
.error404 .content-column .second-row {
  display: none;
}
.error404 .text-404-section .img-error {
  width: 100%;
}
.error404 .content-column .action-links {
  margin-top: 2rem;
}
.error404 .search-action-container a {
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  color: #fff;
  background: linear-gradient(75deg, #f94757, #f50973);
  font-size: 16px;
  display: inline-block;
  line-height: 1;
}
.error404 script + .search-action-container a:hover,
.error404 script + .search-action-container a:active {
  background: linear-gradient(75deg, #f50973, #f94757);
}
.error404 .content-column .action-links .back-home .fa {
  margin-right: 0;
  margin-left: 5px;
}
/* Error Page */

/*Footer*/
.site-footer .copy-footer {
  padding: 0;
}
#site-footer .section-heading.sh-t5 > .h-text {
  color: #fff !important;
}
#site-footer
  .footer-widgets.light-text
  .section-heading.sh-t5
  > .h-text:last-child:first-child:before {
  background: #dd3333;
  height: 2px;
}

#site-footer #sidebar-footer-1 .textwidget {
  color: #ececec;
}

#site-footer #sidebar-footer-1 div#media_image-3 {
  margin: 2.2em 0 1.5em;
}

#site-footer #sidebar-footer-1 div#media_image-3 img {
  max-width: 72% !important;
}

#site-footer .footer-widgets.light-text #sidebar-footer-2 .widget a {
  color: #ececec;
  display: flex;
  align-items: center;
}

#site-footer .footer-widgets.light-text #sidebar-footer-2 .widget a span.icon {
  display: inline-block;
  font-size: 18px;
  margin-right: 0.7em;
}

#site-footer
  .footer-widgets.light-text
  #sidebar-footer-2
  .widget
  a
  span.item-title {
  display: inline-block;
  width: calc(100% - 24px);
}

#site-footer
  .footer-widgets.light-text
  #sidebar-footer-2
  .widget
  a
  span.icon
  .fa-home {
  font-size: 20px;
}

.footer-widgets.light-text #sidebar-footer-3 .widget {
  margin-bottom: 1em;
}

#sidebar-footer-3 .btn-contact-ads {
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 14px 2em;
  line-height: 1;
  border-radius: 2px;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #fea102, #ff5f50);
  transition: 0.4s;
}

#sidebar-footer-3 .btn-contact-ads:hover {
  color: #fff !important;
  background-image: linear-gradient(-90deg, #fea102, #ff5f50);
}

.bs-social-share.style-button.colored span.social-item.email a {
  background: #444;
}
.section-download .custom-html-widget {
  display: flex;
  justify-content: space-between;
}
.section-download .custom-html-widget .img-app.img-app-1 {
  padding-right: 0.25rem;
}
.section-download .custom-html-widget .img-app.img-app-2 {
  padding-left: 0.25rem;
}

.copy-footer ul.menu.footer-menu li > a {
  font-weight: 400;
  color: #cecece;
}

.footer-menu-container {
  border: none;
  padding: 1rem 0;
  margin-bottom: 0;
}
#menu-footer .footer-copy-row .copy-2 {
  display: none;
}
#menu-footer .footer-menu .menu-item {
  margin: 0;
  display: inline-block;
  float: none;
}

#menu-footer .footer-menu .menu-item a {
  display: flex !important;
  align-items: center;
  line-height: 1;
  padding: 0.6rem 1.2rem !important;
  font-size: 1.4rem;
  font-family: "Quicksand";
  border-radius: 2rem;
  color: #c5c5c5;
}
#menu-footer .footer-menu .menu-item:hover a,
#menu-footer .footer-menu .menu-item:focus a,
#menu-footer .footer-menu .menu-item:active a {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

#menu-footer .footer-menu .menu-item a i.icon {
  margin-right: 1rem;
}
.site-footer .copy-footer .menu {
  text-align: center;
}
.site-footer .row:nth-child(1) {
  background: #191919;
}
.site-footer .footer-copy-row {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #111;
}
.site-footer .copy-1 {
  width: 100%;
  text-align: center;
}

.site-footer .copy-2 {
  display: none;
}

/*SearchPage*/
.col-sm-8 .post-meta .post-author-a {
  color: #444;
}
.no-results .search-form {
  position: relative;
  width: 28rem;
  margin: auto;
  margin-top: 2rem;
}
.no-results .search-form input[type="search"] {
  height: 32px;
}
.no-results .search-form input[type="submit"] {
  right: 1.5rem;
  top: 0.75rem;
}
.no-results .search-form input[type="search"] {
  width: 100%;
  border-radius: 2rem;
  background: #fff;
  border-color: transparent;
}
.search-header .search-form .search-field {
  border-radius: 4px;
  padding: 20px;
}

.search-header .search-form .search-submit {
  border-radius: 0 4px 4px 0;
  height: 42px;
  padding: 0 26px;
}

.search-header .found-categories {
  display: none;
}

.search-header .found-tags li {
  margin-right: 6px;
  margin-bottom: 6px;
}

.search-header .found-tags li .clean-button {
  display: inline-block;
  line-height: 16px;
  background-color: #fff;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px !important;
  color: #333;
  font-weight: 400;
}
.search-header .label {
  font-size: 16px;
  padding-bottom: 1rem;
  display: inline-block;
}
.clean-button,
.search-header .found-tags li .clean-button:hover {
  color: #fff;
  border-color: transparent;
  background-color: #ff5f50;
}

.clean-button,
.search-header .found-tags li .clean-button i {
  display: none;
}
.listing.columns-3 .listing-item .item-inner {
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}
.listing.columns-3 .listing-item .item-inner .featured a {
  border-radius: 0.5rem 0.5rem 0 0;
}

.listing.columns-3 .listing-item .item-inner .title,
.listing.columns-3 .listing-item .item-inner .post-meta {
  padding-left: 2rem;
  padding-right: 2rem;
}
.listing.columns-3 .listing-item .item-inner .title {
  min-height: 4.8rem;
}
.listing.columns-3 .listing-item .item-inner .post-meta {
  margin-bottom: 1.5rem;
}

/*Mid 13*/
.listing-item-classic-2 .listing-inner {
  border: none;
}

.listing-item-classic-2 .title,
.listing-item-classic-2 .post-meta {
  margin-left: -20px;
  margin-right: -20px;
}

/*Post Template 12*/
.post-tp-12-header .term-badges.floated .term-badge a,
.post-tp-12-header .term-badges.floated a {
  background: #ff5250 !important;
  color: #fff !important;
}
.post-tp-12-header .single-featured {
  max-width: unset;
}

/* Post Special 1 */
.col-sm-7.content-column .listing.columns-1 .listing-item:nth-child(12n) {
  border-radius: 0.5rem;
  overflow: hidden;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  .featured {
  width: 100%;
  margin-right: 0;
}

.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  .featured
  .img-holder.b-loaded {
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.4s;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n):hover
  .featured
  .img-holder.b-loaded {
  transform: scale(1.1);
}

.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner {
  position: relative;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner
  > .title {
  position: absolute;
  padding-top: 45% !important;
  bottom: 0rem;
  left: 0;
  z-index: 2;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 3rem;
  font-size: 3rem;
  margin-bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.87) 0%, transparent 50%);
  border-radius: 0.5rem;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner
  > .post-meta {
  position: absolute;
  bottom: 12rem;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 1.5rem 3rem;
  line-height: 1.6;
  color: #fff;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner
  > .post-meta,
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner
  > .post-meta
  a,
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner
  > .post-meta
  .post-author {
  font-size: 16px;
  color: #fff;
}

.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  > .item-inner
  > .post-meta
  .post-author:after {
  color: #fff;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  a.post-url.post-title {
  display: inline-block;
  line-height: 4.5rem;
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 9.5rem;
  position: relative;
}
.col-sm-7.content-column
  .listing.columns-1
  .listing-item:nth-child(12n)
  a.post-url.post-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10rem;
  height: 2px;
  background: linear-gradient(75deg, #f50973, #f94757);
}
/* Post Special 1 */

/* Section Author */
.section-author .listing-user .listing-item {
  border: none;
  margin-bottom: 0;
  padding: 1rem !important;
  border-radius: 0.5rem;
  transition: 0.4s;
  width: auto;
}
.section-author .listing-user .listing-item:first-child {
  text-align: center;
  padding: 1.5rem !important;
  margin-bottom: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.section-author .listing-user .listing-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.section-author .listing-user .listing-item:first-child .user-avatar {
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.section-author .listing-user .listing-item:first-child .user-meta {
  padding-left: 0;
}
.listing-item-user .btn-light {
  color: #f94757 !important;
  border-radius: 2rem;
  border-color: #f94757;
  background: none !important;
  margin-right: 0;
}
.listing-item-user .user-display-name {
  font-size: 16px;
}
/* End Section Author */

/* Share Social */
.page .single-post-share .share-handler-wrap {
  text-align: center;
}
.page .single-post-share .post-share-btn {
  float: none;
  background: linear-gradient(75deg, #f94757, #f50973);
  color: #fff;
  border: none;
  padding: 0rem 1rem 0rem 0.75rem;
}
.page .single-post-share .social-item {
  float: none;
}
.page .post-share .share-handler:after {
  border-left-color: #f50973;
}
.page .post-share .share-handler:before {
  border-color: transparent;
}
/* End Share Social */

/* Post Page */
.single-post .single-container {
  padding-left: 3rem;
}
.single-post .single-container > .post-author {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
}
.single-post .entry-terms {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
}
.post-template-10 .single-post-title,
.ajax-post-content .single-post-title.single-post-title {
  font-size: 20px;
  margin-bottom: 1.5rem;
}
.single-post-excerpt.post-excerpt-bc {
  border-bottom: none;
  color: #333;
  font-style: italic;
  font-size: 15px;
  padding-bottom: 0;
  font-weight: 500;
}
.single-post-excerpt.post-excerpt-bc h2 {
  font-size: 15px;
  font-weight: 500;
  color: #666;
}
.post-template-4 .single-post-excerpt.post-excerpt-bc h2 {
  margin-top: 0;
}
.post-template-4 .ajax-post-content .single-post-excerpt.post-excerpt-bc h2 {
  margin-top: 1.5rem;
}

.single-post .entry-content h1,
.single-post .entry-content h2,
.single-post .entry-content h3,
.single-post .entry-content h4,
.single-post .entry-content h5,
.single-post .entry-content h6 {
  max-width: 66rem;
  margin: 0rem auto 2rem auto;
}
.page-layout-3-col-4.single-post .single-container,
.page-layout-3-col-4.single-post
  .ajax-post-content
  .single-container.single-container {
  padding: 3rem;
  background: #fff;
  border-radius: 0.5rem;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 68rem;
}
.comments-template {
  display: none;
}
.post-template-5 {
  padding: 0;
  background: #fff;
}
.post-template-13 {
  padding: 3rem 0;
  background: #fff;
}
.post-template-5.layout-3-col-0 .ajax-post-content .post-header-inner {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 1140px;
}
.post-template-5.layout-3-col-0
  .ajax-post-content
  .post-header-inner
  .single-post-title.single-post-title {
  font-size: 20px;
  padding: 0 25px;
}
.post-template-5 .main-section .content-column,
.post-template-13 .main-section .content-column {
  padding: 0;
}
.post-template-5 .single-post-excerpt.post-excerpt-bc {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}
.post-template-5 .entry-content,
.post-template-13 .entry-content {
  max-width: 1280px;
  margin: auto;
}
.post-template-5 .entry-content figure,
.post-template-13 .entry-content figure {
  margin: 0 auto 2rem auto !important;
  text-align: center;
  min-width: 66rem;
}
.post-template-5 .entry-content figure.wp-block-gallery,
.post-template-5 .entry-content figure.wp-block-gallery figure,
.post-template-13 .entry-content figure.wp-block-gallery,
.post-template-13 .entry-content figure.wp-block-gallery firgure,
.post-template-13 .entry-content figure.wp-block-media-text__media {
  min-width: unset !important;
}
.entry-content .gallery-caption,
.entry-content .wp-caption-text,
.entry-content figcaption,
.entry-content.single-post-content blockquote,
.single-page-simple-content .entry-content blockquote {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}
.entry-content.single-post-content blockquote,
.single-page-simple-content
  .entry-content
  blockquote
  .entry-content
  figcaption.blocks-gallery-caption {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.post-template-5 .entry-content p,
.post-template-13 .entry-content p {
  max-width: 66rem;
  margin: 0 auto 2rem auto;
}
.post-template-5 .share-handler-wrap.bs-pretty-tabs-initialized,
.post-template-13 .share-handler-wrap.bs-pretty-tabs-initialized {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
}
.post-template-5 .single-post-share .social-item,
.post-template-5 .single-post-share .share-handler,
.post-template-13 .single-post-share .social-item,
.post-template-13 .single-post-share .share-handler {
  float: none;
}
.single-post-share.bottom-share {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
}
.post-template-5 .post-author + .next-prev-post,
.post-template-13 .post-author + .next-prev-post {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
}
.post-template-13 .single-post-excerpt.post-excerpt-bc {
  max-width: 66rem;
  margin: auto;
  font-size: 2.4rem;
  font-style: unset;
  font-weight: 600;
  line-height: 1.2;
}
.post-tp-12-header {
  margin-bottom: 0;
}
.post-tp-4-header {
  margin-bottom: 0;
}
.post-tp-5-header .image-credit {
  text-align: center;
  font-size: 12px;
  display: block;
  margin: auto;
}
.post-tp-5-header.wfi .term-badges.floated .term-badge a,
.post-tp-5-header.wfi .term-badges.floated a {
  background: #f94757 !important;
  color: #fff !important;
}
.post-tp-4-header.wfi .term-badges.floated .term-badge a,
.post-tp-4-header.wfi .term-badges.floated a {
  background: #f94757 !important;
  color: #fff !important;
}

.entry-terms.post-tags a,
.entry-terms.source a,
.entry-terms.via a {
  background: rgba(0, 0, 0, 0.08);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.single-post-share .post-share-btn {
  background: #ececec;
  color: rgba(0, 0, 0, 0.74);
  border: transparent;
}
.single-post-share .post-share-btn.share-handler {
  background: linear-gradient(75deg, #f94757, #f50973);
  color: #fff;
  border: none;
  padding: 0rem 1rem 0rem 0.75rem;
}
.single-container > .post-author .author-title {
  padding-right: 0;
  padding-top: 8px;
}
.entry-terms.post-tags .terms-label,
.entry-terms.source .terms-label,
.entry-terms.via .terms-label {
  font-size: 11px;
}
.entry-content .gallery-caption,
.entry-content .wp-caption-text,
.entry-content figcaption {
  margin-top: 1.5rem;
}
.term-badges.floated a {
  margin: 0 6px 6px 0px;
  text-overflow: unset;
  overflow: unset;
  max-width: 100% !important;
}
.wp-block-image {
  margin-bottom: 1.5rem;
}

.entry-content p {
  margin-bottom: 1.5rem;
}
.blocks-gallery-grid.columns-3 .blocks-gallery-image,
.blocks-gallery-grid.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-image,
.wp-block-gallery.columns-3 .blocks-gallery-item {
  margin-right: 2px;
}
.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
  margin: 0 2px 2px 0;
}
.entry-content ol,
.entry-content ul {
  margin-bottom: 1.5rem;
}
.blocks-gallery-grid.columns-4 .blocks-gallery-image,
.blocks-gallery-grid.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-image,
.wp-block-gallery.columns-4 .blocks-gallery-item {
  margin-right: 2px;
}
.post-template-5 .entry-content figure.wp-block-gallery,
.post-template-5 .entry-content figure.wp-block-gallery figure,
.post-template-13 .entry-content figure.wp-block-gallery,
.post-template-13 .entry-content figure.wp-block-gallery firgure {
  margin-bottom: 0 !important;
}
.post-template-13 .entry-content .blocks-gallery-item figure {
  min-width: unset;
}
.post-template-5 .entry-content img {
  width: 100%;
}
.post-template-5 .post-share.single-post-share {
  max-width: 66rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.5rem;
}
.post-template-5 .entry-content figure img,
.post-template-13 .entry-content figure img {
  width: 100%;
}
/* End Post Page */

/* Theme Dark */
.theme-dark #content {
  background: rgba(0, 0, 0, 0.94);
}
/** Header */
.theme-dark .site-header.header-style-8.full-width {
  background: rgba(23, 23, 23);
  border-bottom: unset;
}
.theme-dark .better-newsticker ul.news-list li a {
  color: #d0d0d0;
}
.theme-dark .site-header .top-menu.menu > li > a,
.theme-dark .topbar .topbar-sign-in {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark
  .site-header.header-style-8
  .bs-pinning-wrapper.bspw-header-style-8
  > .bs-pinning-block {
  background: rgb(30, 30, 30);
  border-bottom: 0;
}
.theme-dark .site-header .off-canvas-menu-icon .off-canvas-menu-icon-el,
.theme-dark .site-header .off-canvas-menu-icon .off-canvas-menu-icon-el:after,
.theme-dark .site-header .off-canvas-menu-icon .off-canvas-menu-icon-el:before {
  background-color: rgba(255, 255, 255, 0.72);
}
.theme-dark .off-canvas-menu-icon:hover,
.theme-dark .off-canvas-menu-icon:focus,
.theme-dark .off-canvas-menu-icon:active {
  background: rgba(255, 255, 255, 0.1);
}
.theme-dark
  .site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field,
.theme-dark .off-canvas-search input[type="text"] {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.theme-dark
  .site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field:focus,
.theme-dark .off-canvas-search input[type="text"]:focus {
  background: rgba(255, 255, 255, 0.3);
}
.theme-dark
  .site-header.header-style-8
  .search-container
  .search-box
  .search-form
  .search-field::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
}
.theme-dark
  .site-header
  .search-container
  .search-box
  .search-form
  input[type="submit"],
.theme-dark .search-form input[type="submit"],
.theme-dark .off-canvas-search .fa {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-search-white.svg);
  opacity: 0.72;
}
.theme-dark .site-header .shop-cart-container .cart-handler,
.theme-dark .site-header .search-container .search-handler,
.theme-dark .site-header .main-menu > li > a,
.theme-dark
  .site-header
  .search-container
  .search-box
  .search-form
  .search-field {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .site-header.site-header.site-header .main-menu.menu > li > a {
  font-weight: 500;
}
.theme-dark .site-header .main-menu.menu > li > a:before {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-newsfeed-white.svg);
}
.theme-dark .site-header .main-menu.menu > li:nth-child(2) > a:before {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-camera-white.svg);
}
.theme-dark .site-header .main-menu.menu > li:nth-child(3) > a:before {
  background-image: url(//localhost/wp-content/themes/publisher-child/images/icon-watch-white.svg);
}
.theme-dark
  .site-header.site-header.site-header
  .main-menu.menu
  > li:hover
  > a {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .site-header .main-menu.menu > li:hover > a:before,
.theme-dark .site-header .main-menu.menu > li.current-menu-item > a:before {
  opacity: 0;
}
.theme-dark
  .site-header.site-header.site-header
  .main-menu.menu
  > li.current-menu-item
  > a {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: rgba(255, 255, 255, 0.8);
}
/** Search Ajax */
.theme-dark .search-preview {
  background: rgb(39, 39, 39);
  border: none;
  box-shadow: 0px 2px 4px 0 rgba(255, 255, 255, 0.2);
}
.theme-dark .clean-title > span {
  color: rgba(255, 255, 255, 0.9);
}
.theme-dark .clean-title::after {
  background: rgba(255, 255, 255, 0.35);
}
.theme-dark .post-count-badge.pcb-t1 {
  box-shadow: 0 0 0 2px rgb(39, 39, 39);
}
/** Off Canvas */
.theme-dark .off-canvas-menu ul.menu > li > a,
.theme-dark .dashboard ul.menu > li > a {
  color: rgba(255, 255, 255, 0.72);
}
.theme-dark .off-canvas-menu ul.menu > li:hover,
.theme-dark .dashboard ul.menu > li:hover {
  background: rgba(255, 255, 255, 0.1);
}
.theme-dark .off-canvas-menu ul.menu > li:hover a,
.theme-dark .dashboard ul.menu > li:hover a {
  color: rgba(255, 255, 255) !important;
}
.theme-dark .off-canvas-inner {
  background: rgba(0, 0, 0, 0.9);
}
.theme-dark .off-canvas-inner > div {
  color: rgba(255, 255, 255, 0.8);
}

.theme-dark .off-canvas-menu > ul > li > a {
  color: rgba(255, 255, 255, 0.72) !important;
}
.theme-dark .off-canvas-inner > .copry-right {
  color: rgba(255, 255, 255, 0.6);
}
.theme-dark .off-canvas-inner .canvas-close i,
.theme-dark .off-canvas-inner .canvas-close:after,
.theme-dark .off-canvas-inner .canvas-close:before {
  background: #eee;
}
.theme-dark .off-canvas-inner .canvas-close:hover i,
.theme-dark .off-canvas-inner .canvas-close:hover:after,
.theme-dark .off-canvas-inner .canvas-close:hover:before {
  background: #eee;
}
/**Menu Bottom Responsive*/
.theme-dark .menu-bottom-responsive {
  background: rgba(32, 32, 32);
}
.theme-dark .menu-bottom-responsive ul.menu li > a {
  color: rgba(255, 255, 255, 0.72);
  font-weight: 400;
}
/** Sidebar */
.theme-dark .sidebar-column {
  background: rgba(30, 30, 30, 1);
}
.theme-dark .sidebar-column-secondary {
  border-right: none;
  box-shadow: unset;
}
.theme-dark .sidebar-column-primary {
  border-left: none;
  box-shadow: unset;
}
.theme-dark .section-heading.sh-t5:before {
  background: rgba(255, 255, 255, 0.08);
}
.theme-dark .sidebar .section-heading.sh-t5 > .main-link > .h-text,
.theme-dark .sidebar .section-heading.sh-t5 > .main-link > .h-text:hover,
.theme-dark .sidebar .section-heading.sh-t5 a.active,
.theme-dark
  .sidebar
  .section-heading.sh-t5
  .main-link:first-child:last-child
  .h-text,
.theme-dark .section-heading.sh-t5 > .h-text {
  color: rgb(255, 255, 255, 0.9) !important;
}
.theme-dark .section-heading.sh-t5 > .h-text a {
  color: rgb(255, 255, 255, 0.9) !important;
}
.theme-dark .listing-item-grid-1 .title {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .post-meta,
.theme-dark .post-meta a {
  color: rgba(255, 255, 255, 0.6);
}
.theme-dark .listing-item-tb-2 .title a {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .listing-item-tb-3 .title,
.theme-dark .listing-item-tb-1 .title {
  color: rgba(255, 255, 255, 0.9);
}
.theme-dark .widget.widget_tag_cloud .tagcloud a {
  background: none;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.16);
}
.theme-dark .section-author .listing-user .listing-item:first-child {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.theme-dark .section-author .listing-user .listing-item:hover {
  background: rgba(255, 255, 255, 0.05);
}
.theme-dark .listing-item-user .user-display-name a {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .listing-item-user .btn-light {
  background: rgba(255, 255, 255, 0.1) !important;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.9) !important;
}
/**Main*/
.theme-dark .stories.carousel .story {
  background: radial-gradient(ellipse at 70% 70%, #f50973 42%, #f94757 58%);
  padding: 2px;
}
.theme-dark .stories.snapgram .story > .item-link {
  border: 3px solid rgb(13, 13, 13);
}
.theme-dark
  .main-section
  .col-sm-7.content-column
  .listing-mix-4-3
  .listing-classic-2 {
  background: rgb(30, 30, 30);
}
.theme-dark .listing-item-classic-2 .title {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark
  .main-section
  .col-sm-7.content-column
  .listing.columns-2
  .listing-item
  .item-inner {
  background: rgba(30, 30, 30);
}
.theme-dark
  .main-section
  .col-sm-7.content-column
  .listing-blog-1
  .listing-item {
  background: rgba(30, 30, 30);
}
.theme-dark .listing-item-blog-1 > .item-inner > .title {
  color: rgba(255, 255, 255, 0.8);
}
/** Post Page */
.theme-dark.page-layout-3-col-4.single-post .single-container,
.theme-dark.page-layout-3-col-4.single-post
  .ajax-post-content
  .single-container.single-container {
  background: rgba(40, 40, 40);
}
.theme-dark .single-post-title,
.theme-dark .single-post-excerpt.post-excerpt-bc h2 {
  color: rgba(255, 255, 255, 0.9);
}
.post-tp-4-header.wfi .post-meta.single-post-meta .post-author-a,
.post-tp-4-header.wfi .post-meta.single-post-meta .post-author-a:hover,
.post-tp-4-header.wfi .post-meta.single-post-meta .time {
  color: #fff !important;
}
.theme-dark .post-meta.single-post-meta .post-author-a,
.theme-dark .post-meta.single-post-meta .time {
  color: rgba(255, 255, 255, 0.8);
}
.theme-dark .listing-blog-1 .listing-item .post-meta .author {
  color: rgba(255, 255, 255, 0.87);
}
.theme-dark .post-meta .post-author-a .author {
  color: rgba(255, 255, 255, 0.9);
}
.theme-dark .post-meta.single-post-meta b {
  color: #fff;
}
.theme-dark .post-meta.single-post-meta > a + span:before,
.theme-dark .post-meta.single-post-meta > span + a:before,
.theme-dark .post-meta.single-post-meta > span + span:before {
  background: rgba(255, 255, 255, 0.23);
}
.theme-dark .entry-content {
  color: rgba(255, 255, 255, 0.6);
}
.theme-dark .entry-terms.post-tags a,
.theme-dark .entry-terms.source a,
.theme-dark .entry-terms.via a {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
}
.theme-dark .single-post-excerpt.post-excerpt-bc {
  color: rgba(255, 255, 255, 0.9);
}
.theme-dark .single-container > .post-author {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
.theme-dark .heading-typo,
.theme-dark .site-header .site-branding .logo,
.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark h6 {
  color: rgba(255, 255, 255, 0.9);
}
.theme-dark .single-container > .post-author .author-title .title-counts {
  color: #d8d8d8;
}
.theme-dark .post-author-url {
  color: #f3f3f3;
}
.theme-dark .single-container > .post-author .post-author-bio {
  color: #c1c1c1;
}
.theme-dark .single-container > .post-author .author-links a {
  color: #f3f3f3;
}
.theme-dark .next-prev-post .title a {
  color: #e0e0e0;
  font-weight: 500;
}
.theme-dark .single-post-share .post-share-btn {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #fff;
}
.theme-dark .single-post-share .post-share-btn .text {
  font-weight: 500;
}
.theme-dark.page .post-share .share-handler:after {
  border-left-color: rgba(255, 255, 255, 0.1);
}

/** End Post Page */

/* End Theme Dark */
 
@media (max-width: 1025px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px !important;
  }
  .layout-3-col-4 .sidebar-column-primary,
  .layout-3-col-4 .sidebar-column-secondary {
    display: none;
  }

  .layout-3-col-4 .content-column {
    left: 0;
  }

  .main-section .col-sm-7.content-column {
    width: 100%;
  }

  .layout-1-col,
  .layout-2-col,
  .layout-3-col {
    margin-top: 0 !important;
  }

  .site-header.header-style-8.full-width {
    display: block;
  }

  .site-header.header-style-8 .main-menu.menu {
    display: none;
  }

  .site-header .menu-action-buttons.width-2 {
    width: calc(100% - 4.5rem);
  }

  .rh-header {
    display: none;
  }

  .site-header.header-style-8 .site-branding {
    width: 5rem;
    padding-right: 1rem;
  }

  .site-header.header-style-8 .site-branding .logo img {
    margin: auto;
  }

  .site-header.header-style-8 .site-branding .logo #site-logo {
    display: none;
  }

  .site-header.header-style-8 .site-branding .logo .site-logo-mobile {
    display: block;
  }

  .site-header.header-style-8 .site-branding .logo.img-logo a {
    padding: 0;
  }

  .site-header .search-container .search-box {
    padding-right: 4.5rem;
  }

  .search-preview {
    width: 100vw;
    left: -6rem;
    border-radius: unset;
  }

  .site-header .menu-action-buttons > .off-canvas-menu-icon-container {
    margin-right: 0;
  }

  .off-canvas-inner > .copry-right {
    bottom: 10px;
    width: 100%;
  }

  .better-control-nav li {
    margin: 2rem 0.5rem !important;
  }

  .menu-bottom-responsive {
    display: block;
  }

  .slider-container .listing-modern-grid-2 .mg-col-1 {
    width: 100%;
    padding: 0;
    margin-bottom: 2px;
  }

  .slider-container .listing-modern-grid-2 .item-2-cont,
  .slider-container .listing-modern-grid-2 .item-3-cont,
  .slider-container .listing-modern-grid-2 .item-4-cont,
  .slider-container .listing-modern-grid-2 .item-5-cont {
    width: 50%;
    float: left;
  }

  .slider-container .listing-modern-grid-2 .mg-col-2 {
    width: 100%;
    padding: 0;
  }

  .slider-container .listing-mg-2-item .content-container,
  .slider-container .listing-mg-2-item .title {
    font-size: 1.5rem;
  }

  .slider-container .listing-item.listing-item-1 .title {
    font-size: 2.5rem;
  }

  .slider-container .post-meta .post-author {
    font-size: 1.2rem;
  }

  .stories.carousel .story {
    width: 14rem;
    max-width: 14rem;
  }

  .stories.carousel {
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #stories::-webkit-scrollbar-track,
  #stories::-webkit-scrollbar,
  #stories::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Post Page */
  .post-template-13 .single-post-excerpt.post-excerpt-bc,
  .post-template-13 .single-post-excerpt.post-excerpt-bc h2 {
    font-size: 16px;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #666;
    font-style: italic;
  }
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media,
  .wp-block-media-text .wp-block-media-text__content {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 2;
  }

  .wp-block-media-text {
    grid-template-columns: 100% 1fr;
  }

  /* Search Page */
  .listing.columns-3 .listing-item,
  .listing.columns-4 .listing-item,
  .listing.columns-5 .listing-item,
  .mega-links.columns-3 > .menu-item,
  .mega-links.columns-4 > .menu-item,
  .mega-links.columns-5 > .menu-item {
    width: 50%;
  }

  .listing.columns-3 .listing-item:nth-child(odd),
  .listing.columns-4 .listing-item:nth-child(odd),
  .listing.columns-5 .listing-item:nth-child(odd),
  .mega-links.columns-3 > .menu-item:nth-child(odd),
  .mega-links.columns-4 > .menu-item:nth-child(odd),
  .mega-links.columns-5 > .menu-item:nth-child(odd) {
    padding-left: 0;
    padding-right: 13px;
    clear: left;
  }

  .listing.columns-3 .listing-item:nth-child(even),
  .listing.columns-4 .listing-item:nth-child(even),
  .listing.columns-5 .listing-item:nth-child(even),
  .mega-links.columns-3 .listing-item:nth-child(even),
  .mega-links.columns-4 .listing-item:nth-child(even),
  .mega-links.columns-5 .listing-item:nth-child(even) {
    padding-left: 13px;
    padding-right: 0;
    clear: none;
  }
  /* End Search Page */

  /* Footer*/
  .site-footer {
    padding-bottom: 5.2rem;
  }
  .site-footer .copy-footer .menu {
    display: none;
  }
}

@media (max-width: 849px) {
  /* Sidebar */
  .layout-2-col.layout-2-col-2 .sidebar-column,
  .layout-2-col.layout-2-col-2 .sidebar-column {
    width: 30%;
    right: 70%;
  }

  .layout-2-col.layout-2-col-2 .content-column,
  .bf-2-main-column-size {
    width: 70%;
    left: 30%;
  }

  .main-section .col-sm-7.content-column {
    padding: 0;
  }

  .main-section .col-sm-7.content-column .listing-blog-1,
  .post-template-5 .single-post-excerpt.post-excerpt-bc,
  .post-template-5 .entry-content figure,
  .post-template-13 .entry-content figure,
  .entry-content .gallery-caption,
  .entry-content .wp-caption-text,
  .entry-content,
  .post-template-5 .entry-content p,
  .post-template-13 .entry-content p figcaption,
  .post-template-5 .share-handler-wrap.bs-pretty-tabs-initialized,
  .post-template-13 .share-handler-wrap.bs-pretty-tabs-initialized,
  .single-post-share.bottom-share,
  .post-template-5 .post-author + .next-prev-post,
  .post-template-13 .post-author + .next-prev-post,
  .post-template-13 .single-post-excerpt.post-excerpt-bc,
  .post-template-5 .post-share.single-post-share,
  .single-post .single-container > .post-author,
  .single-post .entry-terms,
  .single-post .entry-content h1,
  .single-post .entry-content h2,
  .single-post .entry-content h3,
  .single-post .entry-content h4,
  .single-post .entry-content h5,
  .single-post .entry-content h6,
  .main-section .col-sm-7.content-column .bs-listing-listing-mix-4-3 {
    max-width: 100%;
  }

  .page-layout-3-col-4.single-post .single-container,
  .page-layout-3-col-4.single-post
    .ajax-post-content
    .single-container.single-container {
    max-width: 100%;
  }

  .entry-content figure,
  .entry-content img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .post-meta img {
    max-width: 30px;
  }

  .main-section .col-sm-7.content-column .listing-blog-1 .listing-item {
    margin-bottom: 2rem;
    padding: 0 0 2rem 0;
    border: none;
    overflow: hidden;
  }

  .listing-item-blog-1 .featured {
    margin-right: 0;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .listing-item-blog-1 .featured .img-holder.b-loaded {
    width: 100%;
    border-radius: unset;
  }

  .listing-item-blog-1 > .item-inner > .title {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .listing-item-blog-1 .post-meta {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .listing-item-blog-1 .post-meta .time {
    line-height: 3rem;
  }

  .col-sm-7.content-column .listing.columns-1 .listing-item:nth-child(12n) {
    border-radius: unset;
    padding: 0;
    background: none;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .title {
    font-size: 2.4rem;
    padding-top: 46% !important;
    height: auto;
    padding-bottom: 5%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured
    .img-holder.b-loaded {
    height: 100%;
    display: inline-block;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title {
    line-height: 3.4rem;
    height: 6.8rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured {
    margin-bottom: 0;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta {
    bottom: 24%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    a,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    .post-author {
    font-size: 1.4rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title:after {
    display: none;
  }

  .slider-container .mg-col-2 .listing-mg-2-item .title {
    font-size: 1.4rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    height: 3.8rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }

  .col-sm-7.content-column {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .post-meta .views,
  .post-meta .share {
    float: right;
    margin-right: 0;
    margin-left: 1.5rem;
  }

  body.admin-bar .off-canvas-container {
    top: 0;
  }

  .single-post-share.top-share {
    margin-bottom: 1.5rem;
  }

  .bs-listing {
    margin-bottom: 0;
  }

  .entry-content {
    padding-bottom: 0;
  }

  .bs-pagination {
    margin: 0;
  }

  .slider-container .post-meta .post-author-a .post-author {
    line-height: 1em;
  }

  .off-canvas-overlay {
    top: 0;
  }

  #zuck-modal-content .story-viewer .head .left .info {
    max-width: 80%;
  }

  #zuck-modal-content .story-viewer .tip {
    width: 100%;
  }

  .stories.carousel {
    padding: 2em 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .stories.carousel .story {
    margin-right: 1rem;
  }

  .slider-style-3-container {
    padding-bottom: 25px;
  }

  .main-section .col-sm-7.content-column .listing-blog-1 .listing-item {
    margin-bottom: 1.5rem;
    border-radius: unset;
    padding: 0 0 1.5rem 0;
    border: none;
  }

  .listing-item-blog-1 .featured {
    margin-right: 0;
    width: 100%;
  }

  .listing-item-blog-1 .featured .img-holder.b-loaded {
    border-radius: unset;
    width: 100%;
  }

  .listing-item-blog-1 > .item-inner > .title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .listing-item-blog-1 .post-meta {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .bs-listing-slider-1 {
    border-radius: unset;
  }

  .better-slider .slides {
    border-radius: unset;
  }

  .bs-slider-1 .better-direction-nav .better-next,
  .bs-slider-1 .better-direction-nav .better-prev {
    width: 3.2rem;
    height: 3.2rem;
  }

  .bs-shortcode.bs-slider .better-direction-nav a:before {
    line-height: 3rem;
    font-size: 1rem;
  }

  .bs-slider-1.l-1 .bs-slider-1-item > .item-content:before,
  .bs-slider-1.l-2 .bs-slider-1-item > .item-content:before {
    padding-top: 100%;
  }

  .bs-slider-1-item .title {
    font-size: 16px;
    line-height: 1.6;
  }

  .bs-slider-1-item .content-container {
    padding-bottom: 1.5rem;
  }

  .col-sm-7.content-column .listing.columns-1 .listing-item:nth-child(12n) {
    border-radius: unset;
    padding: 0;
    background: none;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .title {
    border-radius: unset;
    font-size: 1.8rem;
    padding-top: 46% !important;
    height: auto;
    padding-bottom: 5%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured
    .img-holder.b-loaded {
    border-radius: unset;
    height: 100%;
    display: inline-block;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title {
    line-height: 2.4rem;
    height: 4.8rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured {
    margin-bottom: 0;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta {
    bottom: 26%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    a,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    .post-author {
    font-size: 1.4rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title:after {
    display: none;
  }
  .main-section .col-sm-7.content-column .listing-mix-4-3 .listing-classic-2 {
    border-radius: unset;
  }
  .main-section
    .col-sm-7.content-column
    .listing.columns-2
    .listing-item:nth-child(odd),
  .main-section
    .col-sm-7.content-column
    .mega-links.columns-2
    > .menu-item:nth-child(odd) {
    width: 100%;
    padding-right: 0;
  }

  .main-section
    .col-sm-7.content-column
    .listing.columns-2
    .listing-item:nth-child(even),
  .main-section
    .col-sm-7.content-column
    .mega-links.columns-2
    > .menu-item:nth-child(even) {
    width: 100%;
    padding-left: 0;
  }

  .main-section
    .col-sm-7.content-column
    .listing.columns-2
    .listing-item
    .item-inner {
    border-radius: unset;
  }

  .main-section
    .col-sm-7.content-column
    .listing-item-grid-1
    .featured
    .img-holder {
    border-radius: unset;
  }

  .page-layout-3-col-4.single-post .single-container,
  .page-layout-3-col-4.single-post
    .ajax-post-content
    .single-container.single-container {
    padding: 0 0 1.5rem 0;
    margin-bottom: 1.5rem;
  }

  .page-layout-3-col-4.single-post .single-container {
    padding-bottom: 1.5rem;
  }

  .ajax-post-content {
    margin-top: 1.5rem;
  }

  .post-template-10 .post-header-inner .term-badges.floated,
  .post-meta.single-post-meta,
  .single-post-excerpt.post-excerpt-bc p,
  .entry-content p,
  .single-post .entry-terms,
  .single-post-share,
  .post-template-10 .single-post-title,
  .ajax-post-content .single-post-title.single-post-title,
  .entry-content .gallery-caption,
  .entry-content .wp-caption-text,
  .entry-content figcaption,
  .single-post .entry-content h1,
  .single-post .entry-content h2,
  .single-post .entry-content h3,
  .single-post .entry-content h4,
  .single-post .entry-content h5,
  .single-post .entry-content h6,
  .theme-dark .single-post-title,
  .ajax-post-content .post-header-inner .term-badges.floated,
  .single-post-excerpt.post-excerpt-bc {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: 100%;
  }
  .theme-dark .entry-content .gallery-caption,
  .theme-dark .entry-content .wp-caption-text,
  .theme-dark .entry-content figcaption {
    color: #e4e4e4;
  }

  .post-tp-5-header {
    margin-bottom: 0;
  }
  .post-tp-5-header .single-post-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 !important;
  }
  .post-tp-5-header .image-credit,
  .post-tp-4-header .image-credit {
    display: none;
  }

  .single-post .post-author-avatar {
    margin: auto;
  }

  .single-post .post-author-url {
    display: block;
  }

  .single-post .single-container > .post-author {
    margin-right: 0;
    margin-left: 0;
  }

  .entry-content {
    padding-bottom: 1.5rem;
  }

  .bs-newsletter-pack + .next-prev-post,
  .post-author + .next-prev-post {
    margin: 1.5rem 0 0;
  }

  .single-post .single-container > .post-author {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    max-width: 100%;
  }

  .single-container > .post-author .author-title .post-author-url {
  }

  .post-template-10 .post-header-inner {
    margin-bottom: 1.5rem;
  }

  .post-template-4 .single-post-excerpt.post-excerpt-bc {
    padding-top: 1.5rem;
  }

  .post-template-4 .ajax-post-content .single-post-excerpt.post-excerpt-bc {
    padding-top: 0;
  }

  .page-layout-3-col-4 .container.layout-3-col-4 {
    padding-right: 0;
    padding-left: 0;
  }

  .theme-dark .single-post-title {
    font-size: 2.2rem;
  }

  .post-tp-12-header .post-header-inner {
    /* padding-bottom: 0; */
  }

  .page-layout-3-col-4 .container .main-section {
    margin-left: 0;
    margin-right: 0;
  }

  .page-layout-3-col-4.single-post .single-container,
  .page-layout-3-col-4.single-post
    .ajax-post-content
    .single-container.single-container {
    border-radius: 0;
  }

  .post-template-12 .entry-content {
    padding-top: 1.5rem;
  }

  .single-post .single-container {
    padding: 0;
  }

  .post-template-5 .entry-content figure,
  .post-template-13 .entry-content figure {
    max-width: 100%;
    min-width: 50%;
  }

  .main-section .col-sm-7.content-column .listing-blog-1 {
    max-width: 100%;
  }
  .post-template-10 .single-post-title,
  .ajax-post-content .single-post-title.single-post-title {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 600;
  }
  .single-post-excerpt.post-excerpt-bc,
  .single-post-excerpt.post-excerpt-bc h2 {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    line-height: 1.4;
  }
  .post-template-13 .single-post-title {
    font-size: 20px;
    padding: 0 1.5rem;
  }

  .post-template-13 .single-post-title .post-title {
    padding: 0 1.5rem;
    display: block;
  }
  .theme-dark .single-post-excerpt.post-excerpt-bc,
  .theme-dark .single-post-excerpt.post-excerpt-bc h2 {
    padding-top: 1rem;
    margin: 0;
  }

  /* Search Page*/
  .listing.columns-2 .listing-item,
  .listing.columns-3 .listing-item,
  .listing.columns-4 .listing-item,
  .listing.columns-5 .listing-item,
  .mega-links.columns-2 > .menu-item,
  .mega-links.columns-3 > .menu-item,
  .mega-links.columns-4 > .menu-item,
  .mega-links.columns-5 > .menu-item {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    clear: none !important;
  }
}

@media (max-width: 786px) {
  .layout-2-col.layout-2-col-2 .content-column,
  .bf-2-main-column-size {
    width: 100%;
    left: 0;
  }
}
 
@media (max-width: 680px) {
  .slider-style-3-container {
  }

  .slider-container .col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 649px) {
  /* Common */
  .post-share .post-share-btn-group {
    float: right;
  }

  .share-handler-wrap {
    clear: unset;
  }

  /* Sidebar */
  .layout-2-col.layout-2-col-2 .sidebar-column,
  .layout-2-col.layout-2-col-2 .sidebar-column {
    width: 100%;
    right: 0%;
  }
  .layout-2-col.layout-2-col-2 .content-column,
  .bf-2-main-column-size {
    width: 100%;
    left: 0%;
  }
  .section-download .custom-html-widget .img-app.img-app-1 {
    padding-right: 0.5rem;
  }
  .section-download .custom-html-widget .img-app.img-app-2 {
    padding-left: 0.5rem;
  }

  .slider-container .post-meta,
  .slider-container .post-meta a {
    line-height: 1.8rem;
  }

  .slider-container .listing-item.listing-item-1 .title {
    font-size: 1.7rem;
  }

  .slider-container .listing-mg-2-item.listing-item-1 .content-container {
    padding-bottom: 1rem;
  }

  .slider-container .mg-col-2 .listing-mg-2-item .title {
    font-size: 1.4rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    height: 3.8rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }
  .single-post .single-container > .post-author {
    border-radius: unset;
  }
  .post-template-10 .single-post-title,
  .ajax-post-content .single-post-title.single-post-title {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 600;
  }
  .single-post-excerpt.post-excerpt-bc,
  .single-post-excerpt.post-excerpt-bc h2 {
    font-size: 13px;
    font-weight: 500;
    color: #666;
    line-height: 1.4;
  }
  /* Footer */
  .site-footer .copy-1 {
    margin: 0;
  }
  /* Post Page */
  .post-meta.single-post-meta .comments,
  .post-meta.single-post-meta .post-author-avatar,
  .post-meta.single-post-meta .time,
  .post-meta.single-post-meta .views {
    margin: 0 0.5rem 0 0;
  }
  .post-meta.single-post-meta > a + span:before,
  .post-meta.single-post-meta > span + a:before,
  .post-meta.single-post-meta > span + span:before {
    margin-right: 0.5em;
    width: 5px;
  }
}

@media only screen and (max-width: 370px) {
  .bs-slider-1 .better-direction-nav .better-next {
    right: 15px;
    opacity: 1;
  }

  .bs-slider-1 .better-direction-nav .better-prev {
    left: 15px;
    opacity: 1;
  }
}