/* Ads */
.hugsyp-container img {
  display: block;
  margin: auto;
}
/*Common*/
.no-results > .title span {
  background: none;
}
.container,
.content-wrap {
  max-width: 100% !important;
}
.single-featured img {
  width: 100%;
}
.next-prev-post .pre-title {
  color: #ff5f50;
}
.better-direction-nav .better-next:hover,
.better-direction-nav
  .better-next:active
  .better-direction-nav
  .better-prev:hover,
.better-direction-nav .better-prev:active {
  border-color: #f94757;
  background: #f94757;
}
.better-direction-nav .better-next,
.better-direction-nav .better-prev {
  border: 2px solid #fff;
  color: #fff;
}
.entry-content.single-post-content a:hover,
.single-page-simple-content .entry-content a:hover {
  text-decoration: none;
}
.entry-content .wp-block-separator {
  display: none;
}
.back-top {
  border-radius: 50% !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.38);
  background: linear-gradient(75deg, #f94757, #f50973) !important;
  opacity: 1 !important;
}
.back-top:hover {
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.38);
}
.format-icon {
  border: none;
  background: none;
}
.listing-item-blog .featured:hover .format-icon i {
  color: #f5445a;
}

.term-badges.floated a {
  margin: 0 6px 6px 0px;
}
.term-badges.floated {
  top: 8px;
  left: 8px;
}
.post-count-badge.pcb-t1 {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.listing-item-tb-1.has-post-thumbnail .post-count-badge.pcb-t1.pcb-s1 {
  top: -0.5rem;
  left: -0.5rem;
}
.section-heading.sh-t5 > .main-link > .h-text:before,
.section-heading.sh-t5 > a:first-child:last-child > .h-text:before,
.section-heading.sh-t5 > .h-text:first-child:last-child:before {
  background: linear-gradient(75deg, #f94757, #f50973);
  border-radius: 2rem;
}
.section-heading.sh-t5:before {
  border-radius: 2rem;
}
.listing-item-tb-2 .term-badges.floated {
  left: 8px;
}
.listing-item-tb-2 .term-badges.floated .term-badge:nth-child(2) {
  display: none;
}

.listing-mg-3-item .term-badges.floated .term-badge a {
  margin: 0 4px 4px 0px;
}
.single-container > .post-author {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.single-container > .post-author .post-author-avatar img {
  border-radius: 50%;
}
body.bs-theme .btn-bs-pagination {
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 1 !important;
  color: #fff !important;
  border: 1px solid #f94757;
  border-radius: 16px;
  background: #f94757;
}
.bs-irp .bs-irp-heading {
  padding-top: 5px;
  padding-left: 15px;
}
.bs-irp .bs-irp-heading:before {
  background: rgb(254, 95, 80);
  width: 3px;
  height: 32px;
}
.listing-item-blog-1 .featured {
  margin-right: 2rem;
}
.listing-item-blog-1 .featured .img-holder.b-error,
.listing-item-blog-1 .featured .img-holder.b-loaded,
.listing-item-blog-5 .featured .img-holder.b-error,
.listing-item-blog-5 .featured .img-holder.b-loaded,
.listing-item-tb-1 .img-holder.b-error,
.listing-item-tb-1 .img-holder.b-loaded,
.listing-item-tb-2 .img-holder.b-error,
.listing-item-tb-2 .img-holder.b-loaded,
.listing-item-tb-3 .img-holder.b-error,
.listing-item-tb-3 .img-holder.b-loaded,
.listing.listing-mix-3-4 .listing-mg-3-item {
  border-radius: 0.5rem;
}
.listing-mg-3-item .content-container,
.listing-mg-3-item .title {
  font-size: 16px !important;
}
.listing-item-grid-1 .featured .img-holder {
  border-radius: 0.5rem;
}
.listing-item-user.type-2 .bs-user-item {
  border-radius: 0.5rem;
  /*box-shadow: -2px -2px 8px 0 rgba(255,255,255,.1), 2px 2px 8px 0 rgba(0,0,0,.1);*/
}
.listing-item-user.type-2 .btn-light {
  border: 1px solid #f94757;
  color: #f94757 !important;
  box-shadow: none;
  font-family: "Quicksand";
  font-weight: 500;
  margin-right: 0;
  padding: 0.75rem 1.25rem;
  line-height: 1;
  border-radius: 2rem !important;
  font-size: 10px;
}

.listing-item-user .btn-light.btn-light:focus,
.listing-item-user .btn-light.btn-light:hover {
  background: linear-gradient(75deg, #f94757, #f50973) !important;
  color: #fff !important;
  border-color: transparent !important;
}
.wrapper-sticky {
  /*box-shadow: 0px 10px 12px 0 rgba(0, 0, 0, 0.2);*/
}

/* Image Popup */
div.pp_default .pp_content_container {
  background: none;
}
.pp_pic_holder.pp_default {
  box-shadow: none;
}
div.pp_default .pp_close,
div.pp_default .pp_contract,
div.pp_default .pp_expand {
  background: none;
  color: #fff;
  font-size: 20px;
  border: none;
  opacity: 1;
}

/* End Common */
