/* Icon */
i.icon {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background: #eee;
}
i.icon.icon-newsfeed {
    background: url(/wp-content/themes/publisher-child/images/icon-newsfeed-gradient.svg) no-repeat;
    background-size: cover; 
}
i.icon.icon-camera {
    background: url(/wp-content/themes/publisher-child/images/icon-camera-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-watch {
    background: url(/wp-content/themes/publisher-child/images/icon-watch-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-trending {
    background: url(/wp-content/themes/publisher-child/images/icon-trending-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-intro {
    background: url(/wp-content/themes/publisher-child/images/icon-intro-gradient.svg) no-repeat;
    background-size: cover;
}
i.icon.icon-job {
    background: url(/wp-content/themes/publisher-child/images/icon-job.svg) no-repeat;
    background-size: cover; 
}
i.icon.icon-mail {
    background: url(/wp-content/themes/publisher-child/images/icon-mail.svg) no-repeat;
    background-size: cover; 
}

/* Icon Menu Bottom Responsive */
.menu-bottom-responsive i.icon.icon-newsfeed {
    background: url(/wp-content/themes/publisher-child/images/icon-newsfeed-dark.svg) no-repeat;
    background-size: cover; 
    opacity: 0.54;
}
.theme-dark .menu-bottom-responsive i.icon.icon-newsfeed {
    background: url(/wp-content/themes/publisher-child/images/icon-newsfeed-white.svg) no-repeat;
    background-size: cover; 
    opacity: 0.72;
}
.menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-newsfeed,
.menu-bottom-responsive ul.menu li:hover i.icon.icon-newsfeed,
.menu-bottom-responsive ul.menu li:focus i.icon.icon-newsfeed,
.theme-dark .menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-newsfeed {
    background: url(/wp-content/themes/publisher-child/images/icon-newsfeed-gradient.svg) no-repeat;
    background-size: cover; 
    opacity: 1;
}
.menu-bottom-responsive i.icon.icon-camera {
    background: url(/wp-content/themes/publisher-child/images/icon-camera-dark.svg) no-repeat;
    background-size: cover;
    opacity: 0.54;
}
.theme-dark .menu-bottom-responsive i.icon.icon-camera {
    background: url(/wp-content/themes/publisher-child/images/icon-camera-white.svg) no-repeat;
    background-size: cover;
    opacity: 0.72;
}
.menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-camera,
.menu-bottom-responsive ul.menu li:hover i.icon.icon-camera,
.menu-bottom-responsive ul.menu li:focus i.icon.icon-camera,
.theme-dark .menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-camera {
    background: url(/wp-content/themes/publisher-child/images/icon-camera-gradient.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}
.menu-bottom-responsive i.icon.icon-watch {
    background: url(/wp-content/themes/publisher-child/images/icon-watch-dark.svg) no-repeat;
    background-size: cover;
    opacity: 0.54;
}
.theme-dark .menu-bottom-responsive i.icon.icon-watch {
    background: url(/wp-content/themes/publisher-child/images/icon-watch-white.svg) no-repeat;
    background-size: cover;
    opacity: 0.72;
}
.menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-watch,
.menu-bottom-responsive ul.menu li:hover i.icon.icon-watch,
.menu-bottom-responsive ul.menu li:focus i.icon.icon-watch,
.theme-dark .menu-bottom-responsive ul.menu li.current-menu-item i.icon.icon-watch {
    background: url(/wp-content/themes/publisher-child/images/icon-watch-gradient.svg) no-repeat;
    background-size: cover;
    opacity: 1;
}

