@media (max-width: 680px) {
  .slider-style-3-container {
  }

  .slider-container .col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 649px) {
  /* Common */
  .post-share .post-share-btn-group {
    float: right;
  }

  .share-handler-wrap {
    clear: unset;
  }

  /* Sidebar */
  .layout-2-col.layout-2-col-2 .sidebar-column,
  .layout-2-col.layout-2-col-2 .sidebar-column {
    width: 100%;
    right: 0%;
  }
  .layout-2-col.layout-2-col-2 .content-column,
  .bf-2-main-column-size {
    width: 100%;
    left: 0%;
  }
  .section-download .custom-html-widget .img-app.img-app-1 {
    padding-right: 0.5rem;
  }
  .section-download .custom-html-widget .img-app.img-app-2 {
    padding-left: 0.5rem;
  }

  .slider-container .post-meta,
  .slider-container .post-meta a {
    line-height: 1.8rem;
  }

  .slider-container .listing-item.listing-item-1 .title {
    font-size: 1.7rem;
  }

  .slider-container .listing-mg-2-item.listing-item-1 .content-container {
    padding-bottom: 1rem;
  }

  .slider-container .mg-col-2 .listing-mg-2-item .title {
    font-size: 1.4rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    height: 3.8rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }
  .single-post .single-container > .post-author {
    border-radius: unset;
  }
  .post-template-10 .single-post-title,
  .ajax-post-content .single-post-title.single-post-title {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 600;
  }
  .single-post-excerpt.post-excerpt-bc,
  .single-post-excerpt.post-excerpt-bc h2 {
    font-size: 13px;
    font-weight: 500;
    color: #666;
    line-height: 1.4;
  }
  /* Footer */
  .site-footer .copy-1 {
    margin: 0;
  }
  /* Post Page */
  .post-meta.single-post-meta .comments,
  .post-meta.single-post-meta .post-author-avatar,
  .post-meta.single-post-meta .time,
  .post-meta.single-post-meta .views {
    margin: 0 0.5rem 0 0;
  }
  .post-meta.single-post-meta > a + span:before,
  .post-meta.single-post-meta > span + a:before,
  .post-meta.single-post-meta > span + span:before {
    margin-right: 0.5em;
    width: 5px;
  }
}

@media only screen and (max-width: 370px) {
  .bs-slider-1 .better-direction-nav .better-next {
    right: 15px;
    opacity: 1;
  }

  .bs-slider-1 .better-direction-nav .better-prev {
    left: 15px;
    opacity: 1;
  }
}
