@media (max-width: 1025px) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 16px !important;
  }
  .layout-3-col-4 .sidebar-column-primary,
  .layout-3-col-4 .sidebar-column-secondary {
    display: none;
  }

  .layout-3-col-4 .content-column {
    left: 0;
  }

  .main-section .col-sm-7.content-column {
    width: 100%;
  }

  .layout-1-col,
  .layout-2-col,
  .layout-3-col {
    margin-top: 0 !important;
  }

  .site-header.header-style-8.full-width {
    display: block;
  }

  .site-header.header-style-8 .main-menu.menu {
    display: none;
  }

  .site-header .menu-action-buttons.width-2 {
    width: calc(100% - 4.5rem);
  }

  .rh-header {
    display: none;
  }

  .site-header.header-style-8 .site-branding {
    width: 5rem;
    padding-right: 1rem;
  }

  .site-header.header-style-8 .site-branding .logo img {
    margin: auto;
  }

  .site-header.header-style-8 .site-branding .logo #site-logo {
    display: none;
  }

  .site-header.header-style-8 .site-branding .logo .site-logo-mobile {
    display: block;
  }

  .site-header.header-style-8 .site-branding .logo.img-logo a {
    padding: 0;
  }

  .site-header .search-container .search-box {
    padding-right: 4.5rem;
  }

  .search-preview {
    width: 100vw;
    left: -6rem;
    border-radius: unset;
  }

  .site-header .menu-action-buttons > .off-canvas-menu-icon-container {
    margin-right: 0;
  }

  .off-canvas-inner > .copry-right {
    bottom: 10px;
    width: 100%;
  }

  .better-control-nav li {
    margin: 2rem 0.5rem !important;
  }

  .menu-bottom-responsive {
    display: block;
  }

  .slider-container .listing-modern-grid-2 .mg-col-1 {
    width: 100%;
    padding: 0;
    margin-bottom: 2px;
  }

  .slider-container .listing-modern-grid-2 .item-2-cont,
  .slider-container .listing-modern-grid-2 .item-3-cont,
  .slider-container .listing-modern-grid-2 .item-4-cont,
  .slider-container .listing-modern-grid-2 .item-5-cont {
    width: 50%;
    float: left;
  }

  .slider-container .listing-modern-grid-2 .mg-col-2 {
    width: 100%;
    padding: 0;
  }

  .slider-container .listing-mg-2-item .content-container,
  .slider-container .listing-mg-2-item .title {
    font-size: 1.5rem;
  }

  .slider-container .listing-item.listing-item-1 .title {
    font-size: 2.5rem;
  }

  .slider-container .post-meta .post-author {
    font-size: 1.2rem;
  }

  .stories.carousel .story {
    width: 14rem;
    max-width: 14rem;
  }

  .stories.carousel {
    padding: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #stories::-webkit-scrollbar-track,
  #stories::-webkit-scrollbar,
  #stories::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Post Page */
  .post-template-13 .single-post-excerpt.post-excerpt-bc,
  .post-template-13 .single-post-excerpt.post-excerpt-bc h2 {
    font-size: 16px;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #666;
    font-style: italic;
  }
  .wp-block-media-text.has-media-on-the-right .wp-block-media-text__media,
  .wp-block-media-text .wp-block-media-text__content {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 2;
  }

  .wp-block-media-text {
    grid-template-columns: 100% 1fr;
  }

  /* Search Page */
  .listing.columns-3 .listing-item,
  .listing.columns-4 .listing-item,
  .listing.columns-5 .listing-item,
  .mega-links.columns-3 > .menu-item,
  .mega-links.columns-4 > .menu-item,
  .mega-links.columns-5 > .menu-item {
    width: 50%;
  }

  .listing.columns-3 .listing-item:nth-child(odd),
  .listing.columns-4 .listing-item:nth-child(odd),
  .listing.columns-5 .listing-item:nth-child(odd),
  .mega-links.columns-3 > .menu-item:nth-child(odd),
  .mega-links.columns-4 > .menu-item:nth-child(odd),
  .mega-links.columns-5 > .menu-item:nth-child(odd) {
    padding-left: 0;
    padding-right: 13px;
    clear: left;
  }

  .listing.columns-3 .listing-item:nth-child(even),
  .listing.columns-4 .listing-item:nth-child(even),
  .listing.columns-5 .listing-item:nth-child(even),
  .mega-links.columns-3 .listing-item:nth-child(even),
  .mega-links.columns-4 .listing-item:nth-child(even),
  .mega-links.columns-5 .listing-item:nth-child(even) {
    padding-left: 13px;
    padding-right: 0;
    clear: none;
  }
  /* End Search Page */

  /* Footer*/
  .site-footer {
    padding-bottom: 5.2rem;
  }
  .site-footer .copy-footer .menu {
    display: none;
  }
}

@media (max-width: 849px) {
  /* Sidebar */
  .layout-2-col.layout-2-col-2 .sidebar-column,
  .layout-2-col.layout-2-col-2 .sidebar-column {
    width: 30%;
    right: 70%;
  }

  .layout-2-col.layout-2-col-2 .content-column,
  .bf-2-main-column-size {
    width: 70%;
    left: 30%;
  }

  .main-section .col-sm-7.content-column {
    padding: 0;
  }

  .main-section .col-sm-7.content-column .listing-blog-1,
  .post-template-5 .single-post-excerpt.post-excerpt-bc,
  .post-template-5 .entry-content figure,
  .post-template-13 .entry-content figure,
  .entry-content .gallery-caption,
  .entry-content .wp-caption-text,
  .entry-content,
  .post-template-5 .entry-content p,
  .post-template-13 .entry-content p figcaption,
  .post-template-5 .share-handler-wrap.bs-pretty-tabs-initialized,
  .post-template-13 .share-handler-wrap.bs-pretty-tabs-initialized,
  .single-post-share.bottom-share,
  .post-template-5 .post-author + .next-prev-post,
  .post-template-13 .post-author + .next-prev-post,
  .post-template-13 .single-post-excerpt.post-excerpt-bc,
  .post-template-5 .post-share.single-post-share,
  .single-post .single-container > .post-author,
  .single-post .entry-terms,
  .single-post .entry-content h1,
  .single-post .entry-content h2,
  .single-post .entry-content h3,
  .single-post .entry-content h4,
  .single-post .entry-content h5,
  .single-post .entry-content h6,
  .main-section .col-sm-7.content-column .bs-listing-listing-mix-4-3 {
    max-width: 100%;
  }

  .page-layout-3-col-4.single-post .single-container,
  .page-layout-3-col-4.single-post
    .ajax-post-content
    .single-container.single-container {
    max-width: 100%;
  }

  .entry-content figure,
  .entry-content img {
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .post-meta img {
    max-width: 30px;
  }

  .main-section .col-sm-7.content-column .listing-blog-1 .listing-item {
    margin-bottom: 2rem;
    padding: 0 0 2rem 0;
    border: none;
    overflow: hidden;
  }

  .listing-item-blog-1 .featured {
    margin-right: 0;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .listing-item-blog-1 .featured .img-holder.b-loaded {
    width: 100%;
    border-radius: unset;
  }

  .listing-item-blog-1 > .item-inner > .title {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .listing-item-blog-1 .post-meta {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .listing-item-blog-1 .post-meta .time {
    line-height: 3rem;
  }

  .col-sm-7.content-column .listing.columns-1 .listing-item:nth-child(12n) {
    border-radius: unset;
    padding: 0;
    background: none;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .title {
    font-size: 2.4rem;
    padding-top: 46% !important;
    height: auto;
    padding-bottom: 5%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured
    .img-holder.b-loaded {
    height: 100%;
    display: inline-block;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title {
    line-height: 3.4rem;
    height: 6.8rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured {
    margin-bottom: 0;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta {
    bottom: 24%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    a,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    .post-author {
    font-size: 1.4rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title:after {
    display: none;
  }

  .slider-container .mg-col-2 .listing-mg-2-item .title {
    font-size: 1.4rem;
    line-height: 1.4;
    text-overflow: ellipsis;
    height: 3.8rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
  }

  .col-sm-7.content-column {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .post-meta .views,
  .post-meta .share {
    float: right;
    margin-right: 0;
    margin-left: 1.5rem;
  }

  body.admin-bar .off-canvas-container {
    top: 0;
  }

  .single-post-share.top-share {
    margin-bottom: 1.5rem;
  }

  .bs-listing {
    margin-bottom: 0;
  }

  .entry-content {
    padding-bottom: 0;
  }

  .bs-pagination {
    margin: 0;
  }

  .slider-container .post-meta .post-author-a .post-author {
    line-height: 1em;
  }

  .off-canvas-overlay {
    top: 0;
  }

  #zuck-modal-content .story-viewer .head .left .info {
    max-width: 80%;
  }

  #zuck-modal-content .story-viewer .tip {
    width: 100%;
  }

  .stories.carousel {
    padding: 2em 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .stories.carousel .story {
    margin-right: 1rem;
  }

  .slider-style-3-container {
    padding-bottom: 25px;
  }

  .main-section .col-sm-7.content-column .listing-blog-1 .listing-item {
    margin-bottom: 1.5rem;
    border-radius: unset;
    padding: 0 0 1.5rem 0;
    border: none;
  }

  .listing-item-blog-1 .featured {
    margin-right: 0;
    width: 100%;
  }

  .listing-item-blog-1 .featured .img-holder.b-loaded {
    border-radius: unset;
    width: 100%;
  }

  .listing-item-blog-1 > .item-inner > .title {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .listing-item-blog-1 .post-meta {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .bs-listing-slider-1 {
    border-radius: unset;
  }

  .better-slider .slides {
    border-radius: unset;
  }

  .bs-slider-1 .better-direction-nav .better-next,
  .bs-slider-1 .better-direction-nav .better-prev {
    width: 3.2rem;
    height: 3.2rem;
  }

  .bs-shortcode.bs-slider .better-direction-nav a:before {
    line-height: 3rem;
    font-size: 1rem;
  }

  .bs-slider-1.l-1 .bs-slider-1-item > .item-content:before,
  .bs-slider-1.l-2 .bs-slider-1-item > .item-content:before {
    padding-top: 100%;
  }

  .bs-slider-1-item .title {
    font-size: 16px;
    line-height: 1.6;
  }

  .bs-slider-1-item .content-container {
    padding-bottom: 1.5rem;
  }

  .col-sm-7.content-column .listing.columns-1 .listing-item:nth-child(12n) {
    border-radius: unset;
    padding: 0;
    background: none;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .title {
    border-radius: unset;
    font-size: 1.8rem;
    padding-top: 46% !important;
    height: auto;
    padding-bottom: 5%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured
    .img-holder.b-loaded {
    border-radius: unset;
    height: 100%;
    display: inline-block;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title {
    line-height: 2.4rem;
    height: 4.8rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    .featured {
    margin-bottom: 0;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta {
    bottom: 26%;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    a,
  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    > .item-inner
    > .post-meta
    .post-author {
    font-size: 1.4rem;
  }

  .col-sm-7.content-column
    .listing.columns-1
    .listing-item:nth-child(12n)
    a.post-url.post-title:after {
    display: none;
  }
  .main-section .col-sm-7.content-column .listing-mix-4-3 .listing-classic-2 {
    border-radius: unset;
  }
  .main-section
    .col-sm-7.content-column
    .listing.columns-2
    .listing-item:nth-child(odd),
  .main-section
    .col-sm-7.content-column
    .mega-links.columns-2
    > .menu-item:nth-child(odd) {
    width: 100%;
    padding-right: 0;
  }

  .main-section
    .col-sm-7.content-column
    .listing.columns-2
    .listing-item:nth-child(even),
  .main-section
    .col-sm-7.content-column
    .mega-links.columns-2
    > .menu-item:nth-child(even) {
    width: 100%;
    padding-left: 0;
  }

  .main-section
    .col-sm-7.content-column
    .listing.columns-2
    .listing-item
    .item-inner {
    border-radius: unset;
  }

  .main-section
    .col-sm-7.content-column
    .listing-item-grid-1
    .featured
    .img-holder {
    border-radius: unset;
  }

  .page-layout-3-col-4.single-post .single-container,
  .page-layout-3-col-4.single-post
    .ajax-post-content
    .single-container.single-container {
    padding: 0 0 1.5rem 0;
    margin-bottom: 1.5rem;
  }

  .page-layout-3-col-4.single-post .single-container {
    padding-bottom: 1.5rem;
  }

  .ajax-post-content {
    margin-top: 1.5rem;
  }

  .post-template-10 .post-header-inner .term-badges.floated,
  .post-meta.single-post-meta,
  .single-post-excerpt.post-excerpt-bc p,
  .entry-content p,
  .single-post .entry-terms,
  .single-post-share,
  .post-template-10 .single-post-title,
  .ajax-post-content .single-post-title.single-post-title,
  .entry-content .gallery-caption,
  .entry-content .wp-caption-text,
  .entry-content figcaption,
  .single-post .entry-content h1,
  .single-post .entry-content h2,
  .single-post .entry-content h3,
  .single-post .entry-content h4,
  .single-post .entry-content h5,
  .single-post .entry-content h6,
  .theme-dark .single-post-title,
  .ajax-post-content .post-header-inner .term-badges.floated,
  .single-post-excerpt.post-excerpt-bc {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    max-width: 100%;
  }
  .theme-dark .entry-content .gallery-caption,
  .theme-dark .entry-content .wp-caption-text,
  .theme-dark .entry-content figcaption {
    color: #e4e4e4;
  }

  .post-tp-5-header {
    margin-bottom: 0;
  }
  .post-tp-5-header .single-post-title {
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 !important;
  }
  .post-tp-5-header .image-credit,
  .post-tp-4-header .image-credit {
    display: none;
  }

  .single-post .post-author-avatar {
    margin: auto;
  }

  .single-post .post-author-url {
    display: block;
  }

  .single-post .single-container > .post-author {
    margin-right: 0;
    margin-left: 0;
  }

  .entry-content {
    padding-bottom: 1.5rem;
  }

  .bs-newsletter-pack + .next-prev-post,
  .post-author + .next-prev-post {
    margin: 1.5rem 0 0;
  }

  .single-post .single-container > .post-author {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    max-width: 100%;
  }

  .single-container > .post-author .author-title .post-author-url {
  }

  .post-template-10 .post-header-inner {
    margin-bottom: 1.5rem;
  }

  .post-template-4 .single-post-excerpt.post-excerpt-bc {
    padding-top: 1.5rem;
  }

  .post-template-4 .ajax-post-content .single-post-excerpt.post-excerpt-bc {
    padding-top: 0;
  }

  .page-layout-3-col-4 .container.layout-3-col-4 {
    padding-right: 0;
    padding-left: 0;
  }

  .theme-dark .single-post-title {
    font-size: 2.2rem;
  }

  .post-tp-12-header .post-header-inner {
    /* padding-bottom: 0; */
  }

  .page-layout-3-col-4 .container .main-section {
    margin-left: 0;
    margin-right: 0;
  }

  .page-layout-3-col-4.single-post .single-container,
  .page-layout-3-col-4.single-post
    .ajax-post-content
    .single-container.single-container {
    border-radius: 0;
  }

  .post-template-12 .entry-content {
    padding-top: 1.5rem;
  }

  .single-post .single-container {
    padding: 0;
  }

  .post-template-5 .entry-content figure,
  .post-template-13 .entry-content figure {
    max-width: 100%;
    min-width: 50%;
  }

  .main-section .col-sm-7.content-column .listing-blog-1 {
    max-width: 100%;
  }
  .post-template-10 .single-post-title,
  .ajax-post-content .single-post-title.single-post-title {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 600;
  }
  .single-post-excerpt.post-excerpt-bc,
  .single-post-excerpt.post-excerpt-bc h2 {
    font-size: 14px;
    font-weight: 500;
    color: #666;
    line-height: 1.4;
  }
  .post-template-13 .single-post-title {
    font-size: 20px;
    padding: 0 1.5rem;
  }

  .post-template-13 .single-post-title .post-title {
    padding: 0 1.5rem;
    display: block;
  }
  .theme-dark .single-post-excerpt.post-excerpt-bc,
  .theme-dark .single-post-excerpt.post-excerpt-bc h2 {
    padding-top: 1rem;
    margin: 0;
  }

  /* Search Page*/
  .listing.columns-2 .listing-item,
  .listing.columns-3 .listing-item,
  .listing.columns-4 .listing-item,
  .listing.columns-5 .listing-item,
  .mega-links.columns-2 > .menu-item,
  .mega-links.columns-3 > .menu-item,
  .mega-links.columns-4 > .menu-item,
  .mega-links.columns-5 > .menu-item {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    clear: none !important;
  }
}

@media (max-width: 786px) {
  .layout-2-col.layout-2-col-2 .content-column,
  .bf-2-main-column-size {
    width: 100%;
    left: 0;
  }
}
